# .gitignore

# 1. Файлы с секретами
# Обязательно исключаем файл, содержащий секретный ключ и другие настройки
.env

# 2. Файлы базы данных
# Если вы используете SQLite, исключаем файл базы данных
db.sqlite3

# 3. Виртуальное окружение
# Исключаем папку виртуального окружения
.venv/

# 4. Файлы, генерируемые Python
__pycache__/
*.pyc

# 5. Файлы, генерируемые IDE (например, PyCharm)
.idea/